@charset "UTF-8";
/**
 * @name reset
 * @authors darlang (http://darlang.com)
 * @date    2017-08-09 10:54:03
 * @version 0.45
 */

/*--------------------------------------------------------------------------
 *
 *reset begin
 *
 *--------------------------------------------------------------------------
 */

/* select text */

::-moz-selection {
  background: #eee;
  color: #1abc9c;
}

::selection {
  background: #eee;
  color: #1abc9c;
}

::-moz-selection {
  background: #eee;
  color: #1abc9c;
}

::selection {
  background: #eee;
  color: #1abc9c;
}

::-moz-selection {
  background: #eee;
  color: #1abc9c;
}

::-webkit-selection {
  background: #eee;
  color: #1abc9c;
}

/* chrome scrollbar */

::-webkit-scrollbar-track-piece {
  width: 12px;
  border-right: 1px solid #EEE;
  border-left: 1px solid #e4e4e4;
  background-color: #f0f0f0;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #FFF);
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  position: relative;
  min-height: 25px;
  border-radius: 9999px;
  background-color: #ccc;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:vertical {
  border-top: 0 solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 0 solid transparent;
  border-left: 3px solid transparent;
}

::-webkit-scrollbar-thumb:horizontal {
  border-top: 3px solid transparent;
  border-right: 0 solid transparent;
  border-bottom: 2px solid transparent;
  border-left: 0 solid transparent;
}

::-webkit-scrollbar-thumb:active {
  background-color: #777;
}

/* reset normal */

* {
  box-sizing: border-box;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  word-break: break-all;
  word-wrap: break-word;
}

body {
  overflow-x: hidden;
  color: initial;
  font-size: 16px;
  font-family: "Microsoft YaHei", "Arial", "Microsoft YaHei UI", "Noto Sans S Chinese", "Source Han Sans", "Noto Sans CJK", "Microsoft Sans Serif", sans-serif;
  line-height: 1.5;
  font-weight: normal;
}

a,
a:visited {
  /* color: inherit; */
  text-decoration: none;
  opacity: 1;
  outline: none;
  transition: all 0.15s linear;
}

a:hover,
a:active,
a:focus {
  /* color: inherit; */
}

blockquote,
q {
  quotes: none;
  display: block;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: '';
  content: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h1 {
  font-size: 2.0rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.0rem;
}

h6 {
  font-size: 0.75rem;
}

img {
  border: none;
  max-width: 100%;
  height: auto;
}

/* input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="url"] { */
input{
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius:0;
  box-shadow: none;
}
/*
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus { */
/* input:focus{
  border-color: #66afe9;
  box-shadow: none;
} */

input::-webkit-input-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder {
  color: #999;
  opacity: 1;
}

input[disabled],
input[type="radio"][disabled],
input[type="checkbox"][disabled],
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"],
fieldset[disabled] input[type="radio"] label,
fieldset[disabled] input[type="checkbox"] label {
  cursor: not-allowed;
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  border: none;
  cursor: pointer;
}

button:active,
input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

button:before:active,
input[type="button"]:before:active,
input[type="submit"]:before:active,
input[type="reset"]:before:active {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

button:after:active,
input[type="button"]:after:active,
input[type="submit"]:after:active,
input[type="reset"]:after:active {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit;
  color: inherit;
  outline: 0;
}

ol,
ul {
  list-style: none;
}

small {
  font-size: 80%;
  font-weight: 300;
}

strong {
  font-size: 101%;
  font-weight: 700;
}

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1.25rem;
  border-collapse: collapse !important;
  border-spacing: 0;
}

table>thead>tr>th,
table>tbody>tr>th,
table>tfoot>tr>th,
table>thead>tr>td,
table>tbody>tr>td,
table>tfoot>tr>td {
  padding: 0.4375rem 0.6875rem;
  line-height: 1.5;
  vertical-align: top;
  border: 1px solid #eee;
}

textarea {
  height: auto;
  outline: 0;
}

/*--- custom ---*/

.bgfff {
  background-color: #FFF;
}

.bgw {
  background-color: white;
}

.bgg {
  background-color: gray;
}

.dp-n {
  display: none;
}

.dp-b {
  display: block;
}

.dp-i {
  display: inline;
}

.dp-t {
  display: table;
}

.dp-f {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.dp-g {
  display: -ms-grid;
  display: grid;
}

.dp-li {
  display: list-item;
}

.dp-ib {
  display: inline-block;
}

.dp-it {
  display: inline-table;
}

.dp-ig {
  display: -ms-inline-grid;
  display: inline-grid;
}

.dp-if {
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
}

.dp-tc {
  display: table-cell;
}

.dp-tfg {
  display: table-footer-group;
}

.dp-thg {
  display: table-header-group;
}

.dp-tr {
  display: table-row;
}

.dp-trg {
  display: table-row-group;
}

.pd-a {
  padding: auto;
}

.pdt-5 {
  padding-top: 5px;
}

.pdt-10 {
  padding-top: 10px;
}

.pdt-15 {
  padding-top: 15px;
}

.pdt-20 {
  padding-top: 20px;
}

.pdt-25 {
  padding-top: 25px;
}

.pdt-30 {
  padding-top: 30px;
}

.pdt-35 {
  padding-top: 35px;
}

.pdt-40 {
  padding-top: 40px;
}

.pdt-45 {
  padding-top: 45px;
}

.pdt-50 {
  padding-top: 50px;
}

.pdb-5 {
  padding-bottom: 5px;
}

.pdb-10 {
  padding-bottom: 10px;
}

.pdb-15 {
  padding-bottom: 15px;
}

.pdb-20 {
  padding-bottom: 20px;
}

.pdb-25 {
  padding-bottom: 25px;
}

.pdb-30 {
  padding-bottom: 30px;
}

.pdb-35 {
  padding-bottom: 35px;
}

.pdb-40 {
  padding-bottom: 40px;
}

.pdb-45 {
  padding-bottom: 45px;
}

.pdb-50 {
  padding-bottom: 50px;
}

.mg-t {
  margin: auto;
}

.mgt-5 {
  margin-top: 5px;
}

.mgt-10 {
  margin-top: 10px;
}

.mgt-15 {
  margin-top: 15px;
}

.mgt-20 {
  margin-top: 20px;
}

.mgt-25 {
  margin-top: 25px;
}

.mgt-30 {
  margin-top: 30px;
}

.mgt-35 {
  margin-top: 35px;
}

.mgt-40 {
  margin-top: 40px;
}

.mgt-45 {
  margin-top: 45px;
}

.mgt-50 {
  margin-top: 50px;
}

.mgb-5 {
  margin-bottom: 5px;
}

.mgb-10 {
  margin-bottom: 10px;
}

.mgb-15 {
  margin-bottom: 15px;
}

.mgb-20 {
  margin-bottom: 20px;
}

.mgb-25 {
  margin-bottom: 25px;
}

.mgb-30 {
  margin-bottom: 30px;
}

.mgb-35 {
  margin-bottom: 35px;
}

.mgb-40 {
  margin-bottom: 40px;
}

.mgb-45 {
  margin-bottom: 45px;
}

.mgb-50 {
  margin-bottom: 50px;
}

.ta-l {
  text-align: left;
}

.ta-c {
  text-align: center;
}

.ta-r {
  text-align: right;
}

.ta-j {
  text-align: justify;
}

.fl-l {
  float: left;
}

.fl-r {
  float: right;
}

.fl-n {
  float: none;
}

.cl-l {
  clear: left;
}

.cl-r {
  clear: right;
}

.cl-b {
  clear: both;
}

.cl-n {
  clear: none;
}

.clear {
  clear: both;
  height: 0;
  font-size: 0;
  overflow: hidden;
}

.cl {
  zoom: 1;
}

.cl:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
}